ODDS_API_KEY=
ODDS_REGIONS=au
ODDS_MARKETS=h2h
WATCHED_SPORTS=aussierules_afl,basketball_nba,soccer_epl,cricket_ipl,cricket_big_bash,cricket_international_t20
MIN_EDGE=0.07
MIN_CONFIDENCE=70
ALERT_EMAIL_FROM=yourgmail@gmail.com
ALERT_EMAIL_TO=yourgmail@gmail.com
GMAIL_APP_PASSWORD=your_16_character_gmail_app_password
ALERT_COOLDOWN_HOURS=24
DRY_RUN=true
